{% set keystone = salt['grains.filter_by']({
   'RedHat': {
        'name': 'keystone',
        'password': 'password',
        'conn_token': 'admin',
    },
    'Debian': {
        'name': 'keystone',
        'password': 'password',
        'conn_token': 'admin',
    },

}, merge=salt['pillar.get']('openstack-instance:' + pillar['current-openstack-instance'] + ':openstack-components:keystone')) %} 


