
{% set neutron_controller = salt['grains.filter_by']({
   'RedHat': {
        'name': 'neutron',
        'password': 'password',
    },
    'Debian': {
        'name': 'neutron',
        'password': 'password',
    },

}, merge=salt['pillar.get']('openstack-instance:' + pillar['current-openstack-instance'] + ':openstack-components:neutron')) %}

{% set controller_ip = [] %}
  {%- for key, value in salt['mine.get']('G@openstack-id:' + grains['openstack-id'] + ' and G@function:controller','network.ip_addrs','compound').items() -%}
    {% do controller_ip.append(value) %}
  {%- endfor -%}
