
{% set rabbitmq = salt['grains.filter_by']({
   'RedHat': {
        'rabbitmq_name': 'rabbitmq',
        'rabbitmq_password': 'password',
        'rpc_backend': 'rabbit',
    },
    'Debian': {
        'rabbitmq_name': 'rabbitmq',
        'rabbitmq_password': 'password',
        'rpc_backen': 'rabbit',
    },

}, merge=salt['pillar.get']('openstack-instance:' + pillar['current-openstack-instance'] + ':openstack-components:rabbitmq')) %} 



